# Site Settings
lang: en
title: GairLab
tagline: GairLab
email: hitmaxtom@gmail.com
description: >
  The demo site for Bulma Clean Theme, made for Jekyll and GitHub pages websites
baseurl:
url: "https://metaslam.github.io"
permalink: pretty

#favicon: /path/to/favicon.png
gh_sponsor: chrisrhymes
# theme: bulma-clean-theme

remote_theme: chrisrhymes/bulma-clean-theme
#hide_share_buttons: true
theme_color: '#eeeeee'
fixed_navbar: /path/to/favicon.png
#direction: one of <ltr, rtl, auto>, default: ltr

paginate: 5
paginate_path: "/blog/page:num"

# Disqus Comments
disqus:
  # Leave shortname blank to disable comments site-wide.
  # Disable comments for any post by adding `comments: false` to that post's YAML Front Matter.
  # shortname: my_disqus_shortname
  shortname: gairlab


plugins:
  - github-pages
  - jekyll-sitemap
  - jekyll-paginate
  - jekyll-scholar
  - jekyll-feed
  - jekyll-seo-tag
  - kramdown-parser-gfm
  - jekyll-redirect-from

exclude: 
  - Gemfile
  - clean-theme.gemspec
  - Gemfile.lock
  - node_modules
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/

livereload: true

sass:
  style: compressed
  source_dir: _sass

#google_analytics: UA-code-here

defaults:
  -
    scope:
      path: ""
      type: "pages"
    values:
      show_sidebar: true
  -
    scope:
      path: ""
      type: "posts"
    values:
      author: "C.S. Rhymes"
      layout: post
      image: https://via.placeholder.com/1200x800
      show_sidebar: true

markdown: kramdown
highlighter: rouge

footer_menu: example_footer_menu

collections:
  products: 
    output: true
    layout: product
    image: https://via.placeholder.com/800x600
    show_sidebar: false

scholar:
  style: simple-ieee.csl
  bibliography_list_tag: "ul.no-bullet"
  bibliography_template: bibtemplate

# exclude: [vendor]