<footer class="footer">
    <div class="container">
        <div id="blocks">
            <!-- <div id="block1"><img src="/img/logos/Horizontal@2x.png" alt="MetaSLAM Logo" style="width:60%;"></div> -->
            <div id="block2">
              <center>
                <a class="button" itemprop="twitter" href="https://www.twitter.com/pengyin18/" target="_blank">
                  <i class="fab fa-twitter fa-lg"></i>
                </a>
                <a class="button" itemprop="youtube" href="https://www.youtube.com/channel/UCUBMZFKx0MSYKVx5q-P7PtA" target="_blank">
                  <i class="fab fa-youtube fa-lg"></i>
                </a>
                <a class="button" itemprop="github" href="https://github.com/metaslam" target="_blank">
                  <i class="fab fa-github fa-lg"></i>
                </a>
                <a class="button" itemprop="linkedin" href="https://www.linkedin.com/company/meta-slam/" target="_blank">
                  <i class="fab fa-linkedin fa-lg"></i>
                </a>
                <br>
                <br>
                <p class="">&copy; 2023 | Built using the <a href="https://github.com/chrisrhymes/bulma-clean-theme">Bulma Clean Theme</a></p>
              </center>
            </div>
            <div id="block3"><img src="/img/mne_logo_eng_cmyk.svg" height="300" width="300" alt="CityU ME logo" style="float: right;"></div>
          </div>
        <!-- <div class="content is-small has-text-centered">
            <p class="">Theme built by <a href="https://www.csrhymes.com">C.S. Rhymes</a></p>
        </div> -->
    </div>
</footer>
